*.aux 
*.log 
*.out
*.bbl
*.blg
*.glob
*.vo
*.vok
*.vos
.CoqSrc.mk.d
CoqSrc.mk
CoqSrc.mk.conf
*.d
*.mk
*.vio
*.mng
*.fls
*.fdb_latexmk
**/auto
.lia.cache
*.synctex*
*.vtc
*.mng
*.lot 
*.lof 
*.brf
*.toc
*.pdf
ott-rules.tex
